
@import "normalize";
@import "aos";
@import "main";


/**
 * AOS is good for scrolling, but we want animations before AOS might be avail.
 */

.fade-up-onload{
  animation: fade-up-onload-kf .4s;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

.fade-up-onload.slower{
  animation: fade-up-onload-kf .8s;
}

/**
 * Similar settings to AOS
 */
@keyframes fade-up-onload-kf {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translate(0);
  }
}

