
@import "base";
@import "vendor";
@import "main";

/**
 * Iconic duo tone
 */

@mixin iconic-color($color) {
  fill: $color;
  stroke: $color;
}

$color-primary: #339cb4;
$color-secondary: lighten(#339cb4, 40%);


/* Make sure filled and text elements only get fills */
.iconic-property-fill, .iconic-property-text {
  stroke: none !important;
}

/* Make sure stroked elements only get strokes */
.iconic-property-stroke {
  fill: none !important;
}

/* Main color */
.iconic * {
  @include iconic-color($color-primary);
}

/* Accent color */
.iconic .iconic-property-accent {
  @include iconic-color($color-secondary);
}
