
.is-image-controller_m{
  height: 100%;
  background: url(/images/controller_m.svg) no-repeat center;
}

.is-image-computer_m{
  height: 100%;
  background: url(/images/computer_m.svg) no-repeat center;
  background-size: 80%;
}

.is-image-code-window{
  height: 100%;
  background: url(/images/code-window.svg) no-repeat center;
  background-size: 80%;
}

.is-image-eye{
  height: 100%;
  background: url(/images/eye.svg) no-repeat center;
  background-size: 50%;
}

.is-image-puzzle{
  height: 100%;
  background: url(/images/puzzle.svg) no-repeat center;
  background-size: 80%;
}

.is-image-infinite{
  background: url(/images/infinity-white.svg) no-repeat center;
  background-size:contain;
}

.is-image-meet{
  background: url(/images/meet.svg) no-repeat center;
  background-size:contain;
}

.is-image-code-umbrella{
  background: url(/images/code-umbrella.svg) no-repeat center;
  background-size:contain;
}

.is-image-50{
  background-size: 50%;
}